$color-background:#EDF2EC;  
$color-brand: #E06733;
$color-additional: #499A18;
$color-link: #010201;
$color-heading: #717171;
$color-text-primary: #636060;
$color-text-additional: #000000;


$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;
