$color-background:#EDF2EC;  
$color-brand: #E06733;
$color-additional: #499A18;
$color-link: #010201;
$color-heading: #717171;
$color-text-primary: #636060;
$color-text-additional: #000000;
$color-background-form: #D6E7D2;

$laptop-width: 1435px;
$content-width: 1200px;
$tablet-width: 765px;
$mobile-width: 379px;
