html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: "Inter", "Verdana", sans-serif;
}

h1 {
    @include font(4.5rem, normal, 700, 5rem);
    color: $color-heading;
    
}

h2 {
    @include font(4rem, normal, 400, 5.2rem);
    @extend %font-add;
    color: $color-additional;
}

h4 {
    font-size: 1.6rem;
}


li {
    list-style: none;
    a {
        text-decoration: none;
        @extend %cursor;
    }

}
 
