html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: "Inter", "Verdana", sans-serif;
}

h4 {
    font-size: 1.6rem;
}


li {
    list-style: none;

}
 
a {
    text-decoration: none;
    cursor: pointer;
}