.button {
    border: 2px solid $color-brand;
    border-radius: 10px;
    @extend %transition;
    @extend %cursor;

    &:hover {
        background-color: $color-brand;
        color: lightcyan;
       }
    
    &_bordered {
        font-family: 'Inter';
        @include font(1.5rem, normal, 400, 2rem);
        text-align: center;
        padding: 6px 19px 8px 18px;
        margin-right: 4px;
    }

    &_primary {
        width: 15rem;
        padding: 1rem 0rem;
        color: $color-brand;
        text-align: center;
        @extend %font-add;
        @include font (17px, normal, 400, 26px);
       

    }

    &_contacted {
        margin: 3.5rem 0rem 2.2rem 0rem;
        padding: 10px 0px 7px;
        background-color: white;
    }
    
}



