details > summary {
    list-style: none;
  }

.dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 2.5rem 4rem 3rem 3rem;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    gap: 2.5rem;
}

.dropdown_wrapper {
    @include flex();
    max-width: 25rem;
    padding: 1.5rem 3rem 1.3rem 2rem;
    background: $color-background; 
    border-radius: 20px;
    @extend %transition;
    @extend %cursor;
           


    &:hover {
        background-color: $color-background-form;
    }
    
}

.dropdown__item {
    display: flex;
    gap: 55px;

    .dropdown_info {
        width: 100px;
        @include font(1.7rem, normal, 700, 2rem);
        color: $color-text-additional;
        text-align: center;
        
    }
}

.arrow {
    display: inline-flex;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: rgb(189, 188, 188);
        border-radius: 50%;
        cursor: pointer;

        &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-top: 2px solid $color-heading;
            border-right: 2px solid $color-heading;
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 7px;
            transform: rotate(135deg);

        } 
        
        &:hover {
            transform: rotate(-180deg);
            @extend %transition;
           
        }
}




.select-wrapper {
    margin-top: 3.4rem;
    display:flex;
    align-items: center;
    background-color: $color-background-form;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   

    
    .select-form  {
        appearance: none;
        outline: none;
        border: none;
        border-radius: 0px;
        background-color: $color-background-form;
        color: $color-heading;
        padding: 5px 190px 5px 20px;
        @include font (2rem, normal, 400, 4rem);
        @extend %cursor;

        option {
            width: 100%;
        }

}

    
    .arrow-select {
        display: inline-flex;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: rgb(189, 188, 188);
        border-radius: 50%;
        margin-right: 17px;
        @extend %cursor;
        
        &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 7px;
            transform: rotate(135deg);
        }
    }
   


}


    
  




