.button {
    border: 2px solid $color-brand;
    border-radius: 10px;
    @extend %transition;
    @extend %cursor;

    &:hover {
        background-color: $color-brand;
        color: lightcyan;
       }
    
    &_bordered {
        font-family: 'Inter';
        @include font(1.6rem, normal, 400, 2rem);
        padding: 1.4rem 2.7rem;
    }

    &_primary {
        width: 16.1rem;
        padding: 1.2rem 0rem;
        color: $color-brand;
        text-align: center;
    }

    &_contacted {
        margin: 3.8rem 0rem 3.9rem 0rem;
        background-color: white;
    }
    
}



