.contacts {
  background: $color-background;
  
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 53px 0px 0px 43px;
  //max-width: 450px;

  @include media-content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 0 0;
    gap: 250px;


  }
  
}

.contacts-content {
  @include column-flex();
  padding-top: 6.5rem;
  margin-left: 6rem;

  @include media-laptop {
    margin-left: 0;
  }
}

.contacts-info {
  @include media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts-title {
  @include font (3.8rem, normal, 700, 5.2rem);
  margin-left: 80px;


  @include media-laptop {
    margin-left: 0;
  }

  @include media-content {
    font-size: 4rem;
  }
  
}

.contacts__image {
  width: 390px;
  height: 445px;

  @include media-content {
    width: 200px;
    height: 248px;
    margin-left: 10px;
  }
}


