details > summary {
    list-style: none;
  }

.dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 3.4rem 4.1rem;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    gap: 3.2rem;
}

.dropdown_wrapper {
    @include flex();
    max-width: 25rem;
    padding: 1.6rem 11rem 1.6rem 4rem;
    background: $color-background; 
    border-radius: 20px;
    
}

.dropdown__item {
    display: flex;
    gap: 55px;

    .dropdown_info {
        width: 100px;
        @include font(2rem, normal, 700, 2rem);
        color: $color-text-additional;
        text-align: left;
        
    }
}

.arrow {
    display: inline-flex;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: rgb(189, 188, 188);
        border-radius: 50%;
        cursor: pointer;

        &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-top: 2px solid $color-heading;
            border-right: 2px solid $color-heading;
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 7px;
            transform: rotate(135deg);

        } 
        
        &:hover {
            transform: rotate(-180deg);
            @extend %transition;
           
        }
}


