.header__nav {
   max-width: 452px;
   @include media-content {
    max-width: none;
   }

   @include media-tablet {
    display: none;
   }
}


.nav-items {
    @include flex();
    padding: 0px;
    padding-top: 4px;
    padding-left: 20px;
    @include media-content {
        padding-left: 0;
        padding-right: 10px;
       }
   
   
}

.nav-item {
    padding-right: 3.8rem;

   
    &:last-child {
        padding-right: 0px;
    }

    @include media-content {
        padding-right: 5rem;
       }

}

.nav-link {
    @extend %font-add;
    @include font(1.5rem,normal, 400, 3.8rem);
    color: $color-link;
    @extend %transition;

    &:hover {
        color: $color-brand;
    }

}



