.nav-items {
    @include flex();

    .nav-item {
        padding-right: 4.6rem;
    
        &:last-child {
            padding-right: 0px;
        }

        .nav-link {
            @extend %font-add;
            @include font(1.6rem,normal, 400, 5rem);
            color: $color-link;
            @extend %transition;

            &:hover {
                color: $color-brand;
            }
        
        }
        
    }

}





