.button {
    border: 2px solid $color-brand;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    
}

.button:hover {
    background-color: $color-brand;
    color: lightcyan;
   }

.button_bordered {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 27px;
    

}


.content-button {
    width: 16.1rem;
    padding: 12px 0px 12px 0px;
    color: $color-brand;
    text-align: center;
}