.about__content {
    @include flex();
    gap: 15.3rem;
    padding: 9.3rem 0rem 0.8rem;

}

.about__info {
    max-width: 60.5rem;

    .about__info-title {
        max-width: 46.3rem;

        .heading-colored {
            color: $color-brand;
        }
    }

    .about__info-text {
        @include font(2rem, normal, 400, 3rem);
        color: $color-text-primary;
    }
}

.about-image {
    height: 47.9rem;
    width: 46.4rem;
    background-image: url("../assets/images/houseplant.jpg");

}









