.about__content {
    display: flex;
    align-items: center;
    gap: 153px;
    padding: 93px 0px 8px 0px;
}

.about__info {
    width: 60.5rem;
}

.about__info-title {
    width: 46.3rem;
}

.about-image {
    height: 479px;
    width: 464px;
    background-image: url("../assets/images/houseplant.jpg");

}

.heading-colored {
    color: $color-brand;
}

.about__info-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $color-text-primary;
}