.service__table {
    padding: 6.8rem 0rem 0rem 20px;
}

.layout-3-column {
    @include columns($width: 33%);
    row-gap: 45px;
}



.column__content-block {
    @include column-flex();
   
}

.column__content-image {
    width: 305px;
    height: 320px;
    border-radius: 23px 23px 0px 0px;
    object-fit: cover;
}

.content-block-left {
 padding-right: 64px;
}

.content-block-right {
 padding-left: 54px;
}

.column__content-info {
    @include column-flex();
    border-radius: 0px 0px 23px 23px;
    border: 1px solid #E3E1D5;
    padding: 5px 3.1rem 3.6rem;
    gap: 1rem;

    .column__content-subtitle {
        @include font (1.9rem, normal, 700, 2rem);
        color: $color-brand;
        padding-bottom: 4px;
       
    }

    .column__content-text {
        @include font(1.4rem, normal, 400, 1.7rem);
        color: $color-heading;
    }
}



