.footer__wrapper {
    padding: 3.5rem 1.5rem 4rem 2rem;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer__student-info {
    @include font (1.7rem, normal, 400, 5rem);
    color: black;
    
}

.students-contacts {
    @include flex();
    gap: 20px;
    margin: 0;

    
}

.rss-link, .student-link {
    color: black;
    @include font (1.8rem, normal, 400, 4.9rem);
    @extend %transition;
    &:hover {
        color: $color-brand;
    }
}

.rss-link {
    padding-left: 5px;
}

.footer__contacts {
    @include flex();
    gap: 15px;
    padding: 0;
    padding-right: 15px;
}


.footer__contact {
    width: 3.2rem;
    height: 3.2rem;
    @extend %cursor;
}

.insta-icon {
    background: url("../assets/icons/instagram.svg");
}

.facebook-icon {
    background: url("../assets/icons/facebook.svg");
}

.twitter-icon {
    background: url("../assets/icons/twitter.svg");
}

.pinterest-icon {
    background: url("../assets/icons/pinterest.svg");
}

.footer__link {
    @extend %cursor;
}