.header {
    padding: 2.9rem 0rem 6.2rem 2rem;

    @include media-content {
        padding: 2.9rem 0;
    }
    
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 520px;

    @include media-content {
        justify-content:space-between;
        gap: 0;
    }
}



