.header {
    padding: 5.2rem 0rem 6.2rem 0rem;
    .header__wrapper {
        @include flex();
    }
}

.logo-line {
    @extend %cursor;
    @include flex($align:baseline);

    .logo-text {
        @extend %font-add;
        @include font(1.6rem, normal, 400, 2.1rem);
        color: $color-text-additional;
    }

}

.logo-img {
    width: 2rem;
    height: 2rem;
    background-image: url("../assets/icons/logo.svg");
}

