.header {
    padding: 52px 0px 62px 0px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-line {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.logo-img {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/logo.svg");
}

.logo-text {
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text-additional;



}