.prices__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0rem 11.5rem;
    
}

.prices__contacts {
    @include column-flex();
    max-width: 45.2rem;
    text-align: right;
}

.prices__title {
    font-family: "Inter", "Verdana", sans-serif;
    @include font(4rem, normal, 700, 4.8rem);
    color: $color-text-additional;

    .text-colored {
    @extend %text-colored;
   }

}

.prices__contacts-info {
    margin-left: 29rem;
}