.service {
  background: $color-background;
  padding: 4rem 0rem 12.1rem;
}

.service__content {
  @include flex();

  .service__content-title {
    max-width: 30.6rem;
  }

  .service__content-buttons {
    @include flex();
    gap: 3.8rem;
  }
  
}




