.service {
    background: $color-background;
    padding: 40px 0px 121px 0px;
}

.service__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__content-title {
    width: 30.6rem;
}

.service__content-buttons {
    display: flex;
    gap: 3.8rem;
}